<ul class="hero-list">
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services.svg" alt="icon">
		</div>
		<span>Безпечна угода</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services3.svg" alt="icon">
		</div>
		<span>Перевірені виконавці</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services2.svg" alt="icon">
		</div>
		<span>Прозора ціна</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services4.svg" alt="icon">
		</div>
		<span>Контроль 24/7</span>
	</li>
</ul>