<ul class="hero-list">
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services.svg" alt="icon">
		</div>
		<span>Актуально</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services3.svg" alt="icon">
		</div>
		<span>Професійно</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services2.svg" alt="icon">
		</div>
		<span>Доступно</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services6.svg" alt="icon">
		</div>
		<span>Корисно</span>
	</li>
</ul>