<ul class="hero-list">
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services.svg" alt="icon">
		</div>
		<span>Створені досвідченими юристами</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services3.svg" alt="icon">
		</div>
		<span>100% відповідність законодавству</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services2.svg" alt="icon">
		</div>
		<span>Доступна ціна</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/services4.svg" alt="icon">
		</div>
		<span>Можливість замовити індивідуальний документ</span>
	</li>
</ul>