<ul class="hero-list">
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/scaner.svg" alt="icon">
		</div>
		<span>Вирішення проблеми</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/scaner2.svg" alt="icon">
		</div>
		<span>Оновлені дані</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/scaner3.svg" alt="icon">
		</div>
		<span>Збережний звіт</span>
	</li>
	<li class="hero-list__item">
		<div class="hero-list__icon">
			<img src="img/sprite/scaner4.svg" alt="icon">
		</div>
		<span>Швидкий результат</span>
	</li>
</ul>