<div class="mobile-menu">





    <ul class="mobile-menu__nav">
        <li><a href="#">Послуги</a></li>
        <li><a href="#">Консультації</a></li>
        <li><a href="#">Консультанти</a></li>
        <li><a href="#">Документи</a></li>
        <li><a href="#">Вакансії</a></li>
        <li><a href="#">Для бізнесу</a></li>
        <li><a href="#">Про нас</a></li>
    </ul>

    <div class="mobile-menu__wrapper">
        <div class="mobile-menu__switcher type-switcher">
            <label class="type-switcher__label">
                <input type="radio" value="diia" name="type_switcher2" checked>
                <span class="type-switcher__icon">
                        <svg width="24" height="13">
                        	<use href="img/sprite/sprite.svg#type-switcher1"></use>
                        </svg>
                    </span>
            </label>
            <label class="type-switcher__label">
                <input type="radio" value="city" name="type_switcher2">
                <span class="type-switcher__icon">
                        <svg width="24" height="13">
                        	<use href="img/sprite/sprite.svg#type-switcher2"></use>
                        </svg>
                    </span>
            </label>
        </div>

        <div class="mobile-menu__lang">
            <a href="#" class="active">UA</a>
            <a href="#">EN</a>
            <a href="#">RU</a>
        </div>
    </div>

    @include('./transparent-social.html')



</div>