<li class="category-tags__item">
    <a href="#" class="border-link">Забрати борг</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Кримінал</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Кримінал</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Міграція</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Нерухомість</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Робота</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Соціальні питання</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Сім'я</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Я - боржник</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Загальне</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Юридичний супровід при оформлені інвалідності</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Розлучення через суд за наявності неповнолітних дітей</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Адвокат</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Юрист</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Нотаріус</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Бухгалтер</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">По всьому регіону</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Дніпро</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Київ</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Вінниця</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Юридичний супровід в переводі до іншої військової частини</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Одеса</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Житомир</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Хмельницький</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Бізнес</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Війна</a>
</li>
<li class="category-tags__item">
    <a href="#" class="border-link">Документи</a>
</li>

