<ul class="transparent-social fixed-block">
	<li class="transparent-social__item">
		<a href="#">
			<svg width="20" height="20">
				<use href="img/sprite/sprite.svg#social"></use>
			</svg>
		</a>
	</li>
	<li class="transparent-social__item">
		<a href="#">
			<svg width="20" height="20">
				<use href="img/sprite/sprite.svg#social2"></use>
			</svg>
		</a>
	</li>
	<li class="transparent-social__item">
		<a href="#">
			<svg width="12" height="23">
				<use href="img/sprite/sprite.svg#social3"></use>
			</svg>
		</a>
	</li>
	<li class="transparent-social__item">
		<a href="#">
			<svg width="22" height="15">
				<use href="img/sprite/sprite.svg#social4"></use>
			</svg>
		</a>
	</li>
	<li class="transparent-social__item">
		<a href="#">
			<svg width="19" height="20">
				<use href="img/sprite/sprite.svg#social5"></use>
			</svg>
		</a>
	</li>
</ul>