.question-answer {
	display: flex;
	flex-direction: column;
	gap: clamp(20px, 3.226vw, 20rem);

	&__row {
		display: flex;
		flex-direction: column;
		gap: clamp(5px, 0.806vw, 10rem);
		min-height: Max(8.919vw, 145px);
		box-shadow: 0px Max(2px, 2rem) Max(25px, 25rem) 0px rgba(23, 149, 209, 0.27);
		position: relative;

		--padding: clamp(12px, 2.419vw, 30rem);
		--offset-x: clamp(25px, 9.677vw, 120rem);
		--offset: clamp(25px, 14.194vw, 176rem);

		@include mobile {
			padding: 65px var(--padding) var(--padding);
			box-shadow: 0px 2px 24.1px 0px rgba(23, 149, 209, 0.56);
		}

		&:after {
			top: 0;
			bottom: 0;
			max-width: var(--offset);
			position: absolute;
			content: '';
			width: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			pointer-events: none;

			@include mobile {
				border-bottom: Max(1px, 1rem) solid var(--br-a);
				top: 0;
				left: 0;
				right: 0;
				bottom: initial;
				height: 55px;
				max-width: 100%;
				background-position: 50% -5px;
			}
		}

		&:before {
			content: '';
			clip-path: polygon(0 0, 100% 100%, 65% 0);
			width: clamp(10px, 2.177vw, 27rem);
			height: clamp(8px, 1.613vw, 20rem);
			background-color: inherit;
			display: block;
			position: absolute;
			box-shadow: inherit;
			bottom: 0;
			z-index: 2;
			pointer-events: none;
		}

		&:nth-child(odd) {
			background: rgba(var(--bg-a), 1.0);

			@include for-mobile {
				padding: var(--padding) var(--padding) var(--padding) calc(var(--offset) + var(--padding));
				margin-right: calc(var(--offset-x) / 2);

				&:after {
					left: 0;
					border-right: Max(1px, 1rem) solid var(--br-a);
				}
			}

			&:before {
				left: 0;
				transform: translate(0, 100%) scaleX(-1);
			}

			&:after {
				background-image: var(--question-icon);
			}

			@include mobile {
				margin: 0;
			}
		}

		&:nth-child(even) {
			background: rgba(var(--bg-d), 0.8);

			@include for-mobile {
				padding: var(--padding) calc(var(--offset) + var(--padding)) var(--padding) var(--padding);
				margin-left: var(--offset-x);

				&:after {
					right: 0;
				}
			}

			&:before {
				right: 0;
				transform: translate(0, 100%);
			}

			&:after {
				background-image: var(--answer-icon);
			}

			* {
				color: rgba(var(--cl-a), 1.0);
			}

			@include mobile {
				margin-left: var(--offset-x);
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: clamp(20px, 3.226vw, 40rem);

		&:last-of-type {
			margin-bottom: clamp(8px, 1.613vw, 20rem);

		}
	}
}