<section class="about-section about-section--dark">
	<div class="about-section__bg bg-image">
		<picture>
			<source type="image/webp" srcset="img/services_section_bg.webp">
			<img loading="lazy" width="1920" height="1080" src="img/services_section_bg.png" alt="image">
		</picture>
	</div>

	<div class="container">
		<div class="about-section__inner">
            <ul class="grid-list">
                <li class="grid-list__item">
                    <div class="main-description">
                        <h3 class="main-description__title">
                            Юридичний маркетплейс КОНСУЛЬТАНТ
                        </h3>
                        <p class="main-description__text">
                            Кращий юридичний стартап України за версією HiiL Inovative Justice Chalenge 2021 Ukraine

                            , резиденти Diia.City

                            , перший юридичний сервіс, який вийшов з маркетинговою стратегію на усі національні канали

                            , працюємо у Польщі та Англії

                            , перші інтегрували ШІ (Chat GPT) , не просто інформує про юридичні проблеми з відкритих даних, а вирішує їх “під ключ

                            ”, понад 1000
                            зареєстрованих юристів, понад 25 000 користувачів мобільного застосунку

                            , задонатили на юридичні консультаціі понад  100 000 $ … і це тільки частина наших досягнень!


                        </p>
                    </div>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>

                        <div class="about-card__link video-box">
                            <span class="arrow-button" data-src="https://youtu.be/lc1WWLlz10k?si=keLpsLC49yvZEChU">
                                <svg width="30" height="30">
                                    <use href="img/sprite/sprite.svg#play"></use>
                                </svg>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>
                    </a>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>

                    </a>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>

                        <div class="about-card__link video-box">
                            <span class="arrow-button" data-src="https://youtu.be/lc1WWLlz10k?si=keLpsLC49yvZEChU">
                                <svg width="30" height="30">
                                    <use href="img/sprite/sprite.svg#play"></use>
                                </svg>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>
                    </a>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>
                    </a>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>
                    </a>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>

                        <div class="about-card__link video-box">
                            <span class="arrow-button" data-src="https://youtu.be/lc1WWLlz10k?si=keLpsLC49yvZEChU">
                                <svg width="30" height="30">
                                    <use href="img/sprite/sprite.svg#play"></use>
                                </svg>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>
                    </a>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>
                    </a>
                </li>
                <li class="grid-list__item">
                    <a href="#" class="about-card">
                        <div class="about-card__top">
                            <time class="about-card__time" datetime="2023-10-25">25.10.2023</time>
                            <span class="about-card__type">Новина</span>
                        </div>

                        <h2 class="about-card__text">
                            У Вас є бухгалтер у штаті чи на аутсорсингу?
                        </h2>

                        <div class="about-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/grid-card.webp">
                                <img loading="lazy" width="450" height="282" src="img/grid-card.png" alt="image">
                            </picture>
                        </div>
                        <div class="about-card__link video-box">
                            <span class="arrow-button" data-src="https://youtu.be/lc1WWLlz10k?si=keLpsLC49yvZEChU">
                                <svg width="30" height="30">
                                    <use href="img/sprite/sprite.svg#play"></use>
                                </svg>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
		</div>
	</div>
</section>