<section class="categories-section">

    @include('../bg_image.html',{
        'classMode': 'categories_section_bg',
        'path': 'img/categories_section_bg',
        'width' : '1920',
        'height' : '1080'
    })

	<div class="container">
		<div class="categories-section__inner">
			<div class="main-top">
				<h2 class="main-top__title">
					@title
				</h2>

				<p class="main-top__subtitle">
					@subtitle
				</p>
			</div>


			<ul class="categories-list">
				<li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>

                            <span class="categories-card__icon">
                                <img src="img/categories-icon.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Загальне</span>
                    </a>
				</li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>
                            <span class="categories-card__icon">
                                <img src="img/categories-icon2.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Захист споживачів</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>
                            <span class="categories-card__icon">
                                <img src="img/categories-icon3.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Соціальні питання</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>

                            <span class="categories-card__icon">
                                <img src="img/categories-icon.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Загальне</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>
                            <span class="categories-card__icon">
                                <img src="img/categories-icon2.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Захист споживачів</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>
                            <span class="categories-card__icon">
                                <img src="img/categories-icon3.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Соціальні питання</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>

                            <span class="categories-card__icon">
                                <img src="img/categories-icon.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Загальне</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>
                            <span class="categories-card__icon">
                                <img src="img/categories-icon2.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Захист споживачів</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>
                            <span class="categories-card__icon">
                                <img src="img/categories-icon3.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Соціальні питання</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>

                            <span class="categories-card__icon">
                                <img src="img/categories-icon.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Загальне</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>
                            <span class="categories-card__icon">
                                <img src="img/categories-icon2.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Захист споживачів</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>
                            <span class="categories-card__icon">
                                <img src="img/categories-icon3.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Соціальні питання</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>

                            <span class="categories-card__icon">
                                <img src="img/categories-icon.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Загальне</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>
                            <span class="categories-card__icon">
                                <img src="img/categories-icon2.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Захист споживачів</span>
                    </a>
                </li>
                <li class="categories-list__item">
                    <a href="#" class="categories-card">
                        <div class="categories-card__image">
                            <picture>
                                <source type="image/webp" srcset="img/categories-img.webp">
                                <img loading="lazy" width="360" height="217" src="img/categories-img.png" alt="image">
                            </picture>
                            <span class="categories-card__icon">
                                <img src="img/categories-icon3.svg" alt="icon">
                            </span>
                        </div>
                        <span class="categories-card__name">Соціальні питання</span>
                    </a>
                </li>
			</ul>
		</div>
	</div>
</section>