<section class="consultant-section">
	<div class="services-slider__bg bg-image">
		<picture>
			<source type="image/webp" srcset="img/consultant_section_bg.webp">
			<img loading="lazy" width="1920" height="1080" src="img/consultant_section_bg.png" alt="image">
		</picture>
	</div>
	<div class="container">
		<div class="consultant-section__inner">
			<div class="main-top bottom-line">
				<h2 class="main-top__title">
					ТОП 10
				</h2>

				<p class="main-top__subtitle">
					PRO консультантів України
				</p>
			</div>

			<h2 class="line-title">
				Всі консультанти
			</h2>

			<div class="consultant-slider">
				<div class="swiper-container">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">
							<div class="consultant-card">
                                    <span class="consultant-card__label">
                                      <span>PRO</span>
                                      <svg width="16" height="16">
                                        <use href="img/sprite/sprite.svg#star"></use>
                                      </svg>
                                      99.1
                                    </span>
								<span class="consultant-card__widget">Топ 1</span>

								<div class="consultant-card__image">
									<picture>
										<source type="image/webp" srcset="img/man.webp">
										<img loading="lazy" width="296" height="460" src="img/man.png" alt="image">
									</picture>
								</div>

								<div class="consultant-card__descr">
									<h3 class="consultant-card__title">
										Приходько
										<span>
                                              Андрій Анатолійович
                                            </span>
									</h3>
									<span class="consultant-card__type">Юрист / Адвокат</span>
									<span class="consultant-card__geo">
                                              <svg width="20" height="20">
                                                  <use href="img/sprite/sprite.svg#geo-transparent"></use>
                                              </svg>
                                              Україна
                                        </span>
								</div>

								<a href="#" class="consultant-card__link arrow-button">і</a>
							</div>
						</li>
						<li class="swiper-slide">
							<div class="consultant-card">
                                    <span class="consultant-card__label">
                                      <span>PRO</span>
                                      <svg width="16" height="16">
                                        <use href="img/sprite/sprite.svg#star"></use>
                                      </svg>
                                      99.1
                                    </span>
								<span class="consultant-card__widget">Топ 1</span>

								<div class="consultant-card__image">
									<picture>
										<source type="image/webp" srcset="img/man.webp">
										<img loading="lazy" width="296" height="460" src="img/man.png" alt="image">
									</picture>
								</div>

								<div class="consultant-card__descr">
									<h3 class="consultant-card__title">
										Приходько
										<span>
                                              Андрій Анатолійович
                                            </span>
									</h3>
									<span class="consultant-card__type">Юрист / Адвокат</span>
									<span class="consultant-card__geo">
                                              <svg width="20" height="20">
                                                  <use href="img/sprite/sprite.svg#geo-transparent"></use>
                                              </svg>
                                              Україна
                                        </span>
								</div>

								<a href="#" class="consultant-card__link arrow-button">і</a>
							</div>
						</li>
						<li class="swiper-slide">
							<div class="consultant-card">
                                    <span class="consultant-card__label">
                                      <span>PRO</span>
                                      <svg width="16" height="16">
                                        <use href="img/sprite/sprite.svg#star"></use>
                                      </svg>
                                      99.1
                                    </span>
								<span class="consultant-card__widget">Топ 1</span>

								<div class="consultant-card__image">
									<picture>
										<source type="image/webp" srcset="img/man.webp">
										<img loading="lazy" width="296" height="460" src="img/man.png" alt="image">
									</picture>
								</div>

								<div class="consultant-card__descr">
									<h3 class="consultant-card__title">
										Приходько
										<span>
                                              Андрій Анатолійович
                                            </span>
									</h3>
									<span class="consultant-card__type">Юрист / Адвокат</span>
									<span class="consultant-card__geo">
                                              <svg width="20" height="20">
                                                  <use href="img/sprite/sprite.svg#geo-transparent"></use>
                                              </svg>
                                              Україна
                                        </span>
								</div>

								<a href="#" class="consultant-card__link arrow-button">і</a>
							</div>
						</li>
						<li class="swiper-slide">
							<div class="consultant-card">
                                    <span class="consultant-card__label">
                                      <span>PRO</span>
                                      <svg width="16" height="16">
                                        <use href="img/sprite/sprite.svg#star"></use>
                                      </svg>
                                      99.1
                                    </span>
								<span class="consultant-card__widget">Топ 1</span>

								<div class="consultant-card__image">
									<picture>
										<source type="image/webp" srcset="img/man.webp">
										<img loading="lazy" width="296" height="460" src="img/man.png" alt="image">
									</picture>
								</div>

								<div class="consultant-card__descr">
									<h3 class="consultant-card__title">
										Приходько
										<span>
                                              Андрій Анатолійович
                                            </span>
									</h3>
									<span class="consultant-card__type">Юрист / Адвокат</span>
									<span class="consultant-card__geo">
                                              <svg width="20" height="20">
                                                  <use href="img/sprite/sprite.svg#geo-transparent"></use>
                                              </svg>
                                              Україна
                                        </span>
								</div>

								<a href="#" class="consultant-card__link arrow-button">і</a>
							</div>
						</li>
						<li class="swiper-slide">
							<div class="consultant-card">
                                    <span class="consultant-card__label">
                                      <span>PRO</span>
                                      <svg width="16" height="16">
                                        <use href="img/sprite/sprite.svg#star"></use>
                                      </svg>
                                      99.1
                                    </span>
								<span class="consultant-card__widget">Топ 1</span>

								<div class="consultant-card__image">
									<picture>
										<source type="image/webp" srcset="img/man.webp">
										<img loading="lazy" width="296" height="460" src="img/man.png" alt="image">
									</picture>
								</div>

								<div class="consultant-card__descr">
									<h3 class="consultant-card__title">
										Приходько
										<span>
                                              Андрій Анатолійович
                                            </span>
									</h3>
									<span class="consultant-card__type">Юрист / Адвокат</span>
									<span class="consultant-card__geo">
                                              <svg width="20" height="20">
                                                  <use href="img/sprite/sprite.svg#geo-transparent"></use>
                                              </svg>
                                              Україна
                                        </span>
								</div>

								<a href="#" class="consultant-card__link arrow-button">і</a>
							</div>
						</li>
						<li class="swiper-slide">
							<div class="consultant-card">
                                    <span class="consultant-card__label">
                                      <span>PRO</span>
                                      <svg width="16" height="16">
                                        <use href="img/sprite/sprite.svg#star"></use>
                                      </svg>
                                      99.1
                                    </span>
								<span class="consultant-card__widget">Топ 1</span>

								<div class="consultant-card__image">
									<picture>
										<source type="image/webp" srcset="img/man.webp">
										<img loading="lazy" width="296" height="460" src="img/man.png" alt="image">
									</picture>
								</div>

								<div class="consultant-card__descr">
									<h3 class="consultant-card__title">
										Приходько
										<span>
                                              Андрій Анатолійович
                                            </span>
									</h3>
									<span class="consultant-card__type">Юрист / Адвокат</span>
									<span class="consultant-card__geo">
                                              <svg width="20" height="20">
                                                  <use href="img/sprite/sprite.svg#geo-transparent"></use>
                                              </svg>
                                              Україна
                                        </span>
								</div>

								<a href="#" class="consultant-card__link arrow-button">і</a>
							</div>
						</li>
					</ul>
				</div>

                <button class="arrow-button swiper-button-prev">
                    <svg width="24" height="24">
                        <use href="img/sprite/sprite.svg#arrow-l"></use>
                    </svg>
                </button>
                <button class="arrow-button swiper-button-next">
                    <svg width="24" height="24">
                        <use href="img/sprite/sprite.svg#arrow-r"></use>
                    </svg>
                </button>
			</div>


			<div class="accent-border">
				<p>Ми перевіяємо кожного фахівця, який рееструеться на нашому сервісі та гарантуємо якість послуг.
					<br> КОНСУЛЬТАНТ - це прозорий та найбільший рейтинг юристів та адвокатів України створений для
					того щоб кожен українець міг обрати найкращого спеціаліста у потрібному місці та у потрібний
					час.
					<br><br>
					Рейтинг юристів формується на основі позитивно виконаних замовлень ваших відгуків, оцінок <br>та
					коментарів. Рейтинг неможливо купити: він формується виключно користувачами. Тому, якщо Вам
					потрібні послуги, консультації або підготовка документів від кращих юристів та адвокатів України
					- можете впевнено довіряти нашим фахівцям!</p>
			</div>

		</div>
	</div>
</section>