<section class="content-box content-box--dark" data-hidden>
	<div class="container">
		<article class="content-box__inner" data-hidden-list >
			<h2 class="gradient-title">
				Консультація <br> юриста у києві
			</h2>

			<span class="separator"></span>

			<div class="content-box__row">
				<p>
					<i>Приходько та партнери</i> — юридична компанія, що спеціалізується на повному та комплексному
					юридичному обслуговуванні бізнесу та фізичних осіб. Наша діяльність базується в першу чергу на
					спеціалізації команди, в яку входять адвокати, юрисконсульти, податкові консультанти, аудитори,
					бухгалтери. З метою зміцнення команди ми шукаємо Грант-менеджера. (інвестиційного консультанта).
					Приходько та партнери — юридична компанія, що спеціалізується на повному та комплексному
					юридичному обслуговуванні бізнесу та фізичних осіб.
				</p>
				<p>
					<i>Приходько та партнери</i> — юридична компанія, що спеціалізується на повному та комплексному
					юридичному обслуговуванні бізнесу та фізичних осіб. Наша діяльність базується в першу чергу на
					спеціалізації команди, в яку входять адвокати, юрисконсульти, податкові консультанти, аудитори,
					бухгалтери. З метою зміцнення команди ми шукаємо Грант-менеджера. (інвестиційного консультанта).
					Приходько та партнери — юридична компанія, що спеціалізується на повному та комплексному
					юридичному обслуговуванні бізнесу та фізичних осіб. Приходько та партнери — юридична компанія,
					що спеціалізується на повному та комплексному юридичному обслуговуванні бізнесу та фізичних
					осіб. Наша діяльність базується в першу чергу на спеціалізації команди, в яку входять адвокати,
					юрисконсульти, податкові консультанти, аудитори, бухгалтери. З метою зміцнення команди ми
					шукаємо Грант-менеджера.
				</p>
			</div>

			<ul class="check-list">
				<li class="check-list__item">
					Складання та редагування бізнес-планів;
				</li>
				<li class="check-list__item">
					Підготовка та подання заявок на отримання грантів (інвестицій), фінансування проектів;
				</li>
				<li class="check-list__item">
					Підбір та пошук грантових (інвестиційних) програм (в т.ч. міжнародних);
				</li>
				<li class="check-list__item">
					Консультування клієнтів з питань пошуку та отриманню грантів (інвестицій), виконанню умов для їх
					отримання;
				</li>
				<li class="check-list__item">
					Участь в презентаціях, конференціях, зустрічах з донорами та комісіями, що приймають рішення про
					задоволення заяв про отримання грантів;
				</li>
				<li class="check-list__item">
					Участь у різних ініціативах, таких як: розробка нових інструментів практики та напрямів
					обслуговування, написання статей для публікацій, зйомка тематичних відео.
				</li>
			</ul>

			<div class="content-box__row">
				<p>
					<i>Приходько та партнери</i> — юридична компанія, що спеціалізується на повному та комплексному
					юридичному обслуговуванні бізнесу та фізичних осіб. Наша діяльність базується в першу чергу на
					спеціалізації команди, в яку входять адвокати, юрисконсульти, податкові консультанти, аудитори,
					бухгалтери. З метою зміцнення команди ми шукаємо Грант-менеджера. (інвестиційного консультанта).
					Приходько та партнери — юридична компанія, що спеціалізується на повному та комплексному
					юридичному обслуговуванні бізнесу та фізичних осіб.
				</p>
				<p>
					<i>Приходько та партнери</i> — юридична компанія, що спеціалізується на повному та комплексному
					юридичному обслуговуванні бізнесу та фізичних осіб. Наша діяльність базується в першу чергу на
					спеціалізації команди, в яку входять адвокати, юрисконсульти, податкові консультанти, аудитори,
					бухгалтери. З метою зміцнення команди ми шукаємо Грант-менеджера. (інвестиційного консультанта).
					Приходько та партнери — юридична компанія, що спеціалізується на повному та комплексному
					юридичному обслуговуванні бізнесу та фізичних осіб. Приходько та партнери — юридична компанія,
					що спеціалізується на повному та комплексному юридичному обслуговуванні бізнесу та фізичних
					осіб. Наша діяльність базується в першу чергу на спеціалізації команди, в яку входять адвокати,
					юрисконсульти, податкові консультанти, аудитори, бухгалтери. З метою зміцнення команди ми
					шукаємо Грант-менеджера.
				</p>
			</div>

		</article>
		<div class="trigger-box">
			<a href="#" class="trigger-box__button" data-hidden-btn="Сховати">
				<span>Читати далі</span>
				<svg width="14" height="15">
					<use href="img/sprite/sprite.svg#arrow-r"></use>
				</svg>
			</a>
		</div>
	</div>
</section>