<section class="document-section">

    @include('../bg_image.html',{
    'classMode': 'document-section__bg',
    'path': 'img/services_section_bg',
    'width' : '1920',
    'height' : '1080'
    })

    <div class="container">
        <div class="document-section__inner">
            <div class="content-box">
                <article class="content-box__inner">
                    <h1 class="gradient-title">
                        Консультація <br> юриста у києві
                        <span class="separator"></span>
                    </h1>

                    <p class="content-box__p">
                        <i>Приходько та партнери</i> — юридична компанія, що спеціалізується на повному та комплексному
                        юридичному обслуговуванні бізнесу та фізичних осіб. Наша діяльність базується в першу чергу на
                        спеціалізації команди, в яку входять адвокати, юрисконсульти, податкові консультанти, аудитори,
                        бухгалтери. З метою зміцнення команди ми шукаємо Грант-менеджера. (інвестиційного консультанта).
                        Приходько та партнери — юридична компанія, що спеціалізується на повному та комплексному
                        юридичному обслуговуванні бізнесу та фізичних осіб.
                    </p>
                    <p class="content-box__p">
                        <i>Приходько та партнери</i> — юридична компанія, що спеціалізується на повному та комплексному
                        юридичному обслуговуванні бізнесу та фізичних осіб. Наша діяльність базується в першу чергу на
                        спеціалізації команди, в яку входять адвокати, юрисконсульти, податкові консультанти, аудитори,
                        бухгалтери. З метою зміцнення команди ми шукаємо Грант-менеджера. (інвестиційного консультанта).
                        Приходько та партнери — юридична компанія, що спеціалізується на повному та комплексному
                        юридичному обслуговуванні бізнесу та фізичних осіб. Приходько та партнери — юридична компанія,
                        що спеціалізується на повному та комплексному юридичному обслуговуванні бізнесу та фізичних
                        осіб. Наша діяльність базується в першу чергу на спеціалізації команди, в яку входять адвокати,
                        юрисконсульти, податкові консультанти, аудитори, бухгалтери. З метою зміцнення команди ми
                        шукаємо Грант-менеджера.
                    </p>

                    <ul class="check-list">
                        <li class="check-list__item">
                            Складання та редагування бізнес-планів;
                        </li>
                        <li class="check-list__item">
                            Підготовка та подання заявок на отримання грантів (інвестицій), фінансування проектів;
                        </li>
                        <li class="check-list__item">
                            Підбір та пошук грантових (інвестиційних) програм (в т.ч. міжнародних);
                        </li>
                        <li class="check-list__item">
                            Консультування клієнтів з питань пошуку та отриманню грантів (інвестицій), виконанню умов для їх
                            отримання;
                        </li>
                        <li class="check-list__item">
                            Участь в презентаціях, конференціях, зустрічах з донорами та комісіями, що приймають рішення про
                            задоволення заяв про отримання грантів;
                        </li>
                        <li class="check-list__item">
                            Участь у різних ініціативах, таких як: розробка нових інструментів практики та напрямів
                            обслуговування, написання статей для публікацій, зйомка тематичних відео.
                        </li>
                    </ul>

                    <p class="content-box__p">
                        <i>Приходько та партнери</i> — юридична компанія, що спеціалізується на повному та комплексному
                        юридичному обслуговуванні бізнесу та фізичних осіб. Наша діяльність базується в першу чергу на
                        спеціалізації команди, в яку входять адвокати, юрисконсульти, податкові консультанти, аудитори,
                        бухгалтери. З метою зміцнення команди ми шукаємо Грант-менеджера. (інвестиційного консультанта).
                        Приходько та партнери — юридична компанія, що спеціалізується на повному та комплексному
                        юридичному обслуговуванні бізнесу та фізичних осіб.
                    </p>
                    <p class="content-box__p">
                        <i>Приходько та партнери</i> — юридична компанія, що спеціалізується на повному та комплексному
                        юридичному обслуговуванні бізнесу та фізичних осіб. Наша діяльність базується в першу чергу на
                        спеціалізації команди, в яку входять адвокати, юрисконсульти, податкові консультанти, аудитори,
                        бухгалтери. З метою зміцнення команди ми шукаємо Грант-менеджера. (інвестиційного консультанта).
                        Приходько та партнери — юридична компанія, що спеціалізується на повному та комплексному
                        юридичному обслуговуванні бізнесу та фізичних осіб. Приходько та партнери — юридична компанія,
                        що спеціалізується на повному та комплексному юридичному обслуговуванні бізнесу та фізичних
                        осіб. Наша діяльність базується в першу чергу на спеціалізації команди, в яку входять адвокати,
                        юрисконсульти, податкові консультанти, аудитори, бухгалтери. З метою зміцнення команди ми
                        шукаємо Грант-менеджера.
                    </p>

                </article>
            </div>

            <div class="document-section__coll">

                <div class="document-card">
                    <h3 class="document-card__title">Приклади звіту <br> з перевірки</h3>

                    <div class="document-card__type">
                        <div class="document-card__type-image">
                            <picture>
                                <source type="image/webp" srcset="img/document2.webp">
                                <img loading="lazy" width="466" height="650" src="img/document2.png" alt="image">
                            </picture>
                        </div>
                    </div>

                    <ul class="document-card__list document-card__list--mode">
                        <li class="document-card__list-item" data-title="Вартість">
                            5 000 грн / год
                        </li>
                        <li class="document-card__list-item" data-title="Остання версія">
                            2022-12-22 15:22:53
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>
