<section class="get-service">
	<div class="get-service__bg bg-image">
		<picture>
			<source type="image/webp" srcset="img/services_section_bg.webp">
			<img loading="lazy" width="1920" height="1080" src="img/services_section_bg.png" alt="image">
		</picture>
	</div>
	<div class="container">
		<div class="get-service__inner">
			<div class="main-top @classMode">
				<h2 class="main-top__title">@title</h2>
				<p class="main-top__subtitle">@subtitle</p>
			</div>

            <div class="main-description">
                <h3 class="main-description__title">
                    Безпечна угода
                </h3>

                <p class="main-description__text">
                    Ви як Замовник позбавляєтесь від усіх фінансових ризиків при співпраці з Виконавцями, адже сума оплати резервується нашим сервісом та виплачується Виконавцю лише отримавши підтвердження від Вас про завершення етапу.
                    <br><br>
                    У разі ненадання послуги кошти повертаються Вам. Сервіс бере на себе усі фінансові ризики та виступає гарантом та хранителем коштів, а у разі виникнення розбіжностей між сторонами - незалежним Арбітром.
                    <br><br>
                    <strong>Ваші кошти в надійних руках!</strong>
                </p>
            </div>

            <div class="yt-lazyload video" data-id="cCTaiJZAZak" data-logo="3"></div>



		</div>
	</div>
</section>