<section class="how-section">
	<div class="how-section__bg bg-image">
		<picture>
			<source type="image/webp" srcset="img/how_bg.webp">
			<img loading="lazy" width="1920" height="1080" src="img/how_bg.png" alt="image">
		</picture>
	</div>
	<div class="container">
		<ul class="info-counter">
			<li class="info-counter__item">
                        <span class="info-counter__value" data-hover="1к+">
                           <span>1000+</span>
                        </span>
				<span class="info-counter__text">
                            Фахівців
                        </span>
			</li>
			<li class="info-counter__item">
                        <span class="info-counter__value" data-hover="25к+">
                            <span>25000+</span>
                        </span>
				<span class="info-counter__text">
                            Клієнтів
                        </span>
			</li>
			<li class="info-counter__item">
                        <span class="info-counter__value" data-hover="5к+">
                            <span>5000+</span>
                        </span>
				<span class="info-counter__text">
                            Успішних послуг
                        </span>
			</li>
			<li class="info-counter__item">
                        <span class="info-counter__value" data-hover="1,2к+">
                            <span>1200+</span>
                        </span>
				<span class="info-counter__text">
                            Позитивних відгуків
                        </span>
			</li>
		</ul>
		<div class="how-section__inner">
			<div class="main-description">
				<h3 class="main-description__title">
					Як ми працюємо
				</h3>

                <p class="main-description__text">
                    Завдяки професійно налаштованій системі взаємодії клієнта з сервісом ми можемо гарантувати якість та швідкість надання послуги та 100% досягнення результату
                </p>


			</div>

			<ul class="how-section__list step-list">
				<li class="step-list__item">
					<p class="step-list__text">Зверніться <br> до нас</p>

					<div class="step-list__image">
                        <div class="step-list__wrap">
                            <p class="step-list__descr">
                                КОНСУЛЬТАНТ дозволяє Ми створили зручний мобільний застосунок аби юридична допомога для Вас стала зручним швидким та безпечним. Сервіс автоматично запропонує для Вас найкращого фахівця у потрібному місці та потрібний час
                            </p>
                        </div>

						<picture>
							<source type="image/webp" srcset="img/step-list/img.webp">
							<img loading="lazy" width="232" height="487" src="img/step-list/img.png" alt="image">
						</picture>
					</div>
				</li>
				<li class="step-list__item">

					    <p class="step-list__text">Персональний <br> менеджер 24/7</p>


					<div class="step-list__image">
                        <div class="step-list__wrap">
                            <p class="step-list__descr">
                                КОНСУЛЬТАНТ дозволяє Ми створили зручний мобільний застосунок аби юридична допомога для Вас стала зручним швидким та безпечним. Сервіс автоматично запропонує для Вас найкращого фахівця у потрібному місці та потрібний час
                            </p>
                        </div>
						<picture>
							<source type="image/webp" srcset="img/step-list/img2.webp">
							<img loading="lazy" width="232" height="487" src="img/step-list/img2.png" alt="image">
						</picture>
					</div>
				</li>
				<li class="step-list__item">
					<p class="step-list__text">Оформлення <br> замовлення</p>

					<div class="step-list__image">
                        <div class="step-list__wrap">
						<p class="step-list__descr">
							КОНСУЛЬТАНТ дозволяє Ми створили зручний мобільний застосунок аби юридична допомога для Вас стала зручним швидким та безпечним. Сервіс автоматично запропонує для Вас найкращого фахівця у потрібному місці та потрібний час
						</p>
                        </div>
						<picture>
							<source type="image/webp" srcset="img/step-list/img3.webp">
							<img loading="lazy" width="232" height="487" src="img/step-list/im3.png" alt="image">
						</picture>
					</div>
				</li>
				<li class="step-list__item">

					<p class="step-list__text">Оформлення <br> замовлення</p>

					<div class="step-list__image">
                        <div class="step-list__wrap">
                            <p class="step-list__descr">
                                КОНСУЛЬТАНТ дозволяє Ми створили зручний мобільний застосунок аби юридична допомога для Вас стала зручним швидким та безпечним. Сервіс автоматично запропонує для Вас найкращого фахівця у потрібному місці та потрібний час
                            </p>
                        </div>
						<picture>
							<source type="image/webp" srcset="img/step-list/img6.webp">
							<img loading="lazy" width="232" height="487" src="img/step-list/img6.png" alt="image">
						</picture>
					</div>
				</li>
				<li class="step-list__item">

					<p class="step-list__text">Гарантія <br> результату</p>

					<div class="step-list__image">
                        <div class="step-list__wrap">
                            <p class="step-list__descr">
                                КОНСУЛЬТАНТ дозволяє Ми створили зручний мобільний застосунок аби юридична допомога для Вас стала зручним швидким та безпечним. Сервіс автоматично запропонує для Вас найкращого фахівця у потрібному місці та потрібний час
                            </p>
                        </div>
						<picture>
							<source type="image/webp" srcset="img/step-list/img4.webp">
							<img loading="lazy" width="232" height="487" src="img/step-list/img4.png" alt="image">
						</picture>
					</div>
				</li>
				<li class="step-list__item">

					<p class="step-list__text">Отримуйте <br> кешбек</p>

					<div class="step-list__image">
                        <div class="step-list__wrap">
                            <p class="step-list__descr">
                                КОНСУЛЬТАНТ дозволяє Ми створили зручний мобільний застосунок аби юридична допомога для Вас стала зручним швидким та безпечним. Сервіс автоматично запропонує для Вас найкращого фахівця у потрібному місці та потрібний час
                            </p>
                        </div>
						<picture>
							<source type="image/webp" srcset="img/step-list/img5.webp">
							<img loading="lazy" width="232" height="487" src="img/step-list/img5.png" alt="image">
						</picture>
					</div>
				</li>
			</ul>

		</div>
	</div>
</section>