<section class="map-section">
    <div class="map-section__background bg-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10164.748539655422!2d30.5273295!3d50.4376149!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf01aeda56cb%3A0x655c5c36d751a7d9!2z0J_QsNGA0YPRgQ!5e0!3m2!1sru!2sua!4v1707878940794!5m2!1sru!2sua&amp;t=m" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="container">
        <div class="map-section__inner">
            <div class="map-card">
                <div class="map-card__image">
                    <picture>
                        <source type="image/webp" srcset="img/map-section__image.webp">
                        <img loading="lazy" width="512" height="345"
                             src="img/map-section__image.png" alt="image">
                    </picture>

                    <div class="map-card__logo">
                        <img loading="lazy" width="335" height="55"
                             src="img/sprite/logo_white.svg" alt="image">
                    </div>
                </div>
                <div class="map-card__info">
                    <span class="map-card__title">Адміністраця порталу</span>

                    <ul class="contact-list">
                        <li class="contact-list__item">
                                <span class="contact-list__icon">
                                <svg><use href="img/sprite/sprite.svg#point"></use></svg>
                                </span>
                            <span class="contact-list__label">Адреса</span>
                            <a href="https://consultant.net.ua/ru">Україна, Київ БЦ “Парус”, 14 поверх</a>
                        </li>
                        <li class="contact-list__item">
                                <span class="contact-list__icon">
                                <svg><use href="img/sprite/sprite.svg#contacts"></use></svg>
                                </span>
                            <span class="contact-list__label">Пошта</span>
                            <a href="mailto:support@consultant.net.ua">support@consultant.net.ua</a>
                        </li>
                        <li class="contact-list__item">
                                <span class="contact-list__icon">
                                <svg><use href="img/sprite/sprite.svg#phone"></use></svg>
                                </span>
                            <span class="contact-list__label">Телефон</span>
                            <a href="tel:0 800 33 44 00">0 800 33 44 00</a>
                        </li>
                    </ul>

                    <button class="map-card__btn blue-btn">Отримати дзвінок</button>
                </div>
            </div>
        </div>


    </div>
</section>