<section class="reviews-section">
	<div class="reviews-section__background bg-image">
		<picture>
			<source type="image/webp" srcset="img/reviews_bg.webp">
			<img loading="lazy" width="1920" height="940" src="img/reviews_bg.png" alt="image">
		</picture>
	</div>
	<div class="container">
		<div class="reviews-section__inner">
			<div class="main-top bottom-line">
				<h2 class="main-top__title">
					Відгуки
				</h2>

				<p class="main-top__subtitle">
					Від реальних користувачів
				</p>
			</div>

			<ul class="rating-list">
				<li class="rating-list__item rating-card">
                        <span class="rating-card__value">
                            <svg width="30" height="30">
                            	<use href="img/sprite/sprite.svg#star"></use>
                            </svg>
                            4.7
                        </span>
					<a href="#" class="rating-card__wrapp">
                            <span class="rating-card__icon">
                                <img src="img/ios.svg" alt="icon">
                            </span>
						AppStore
					</a>
				</li>
				<li class="rating-list__item rating-card">
                        <span class="rating-card__value">
                            <svg width="30" height="30">
                            	<use href="img/sprite/sprite.svg#star"></use>
                            </svg>
                            4.9
                        </span>
					<a href="#" class="rating-card__wrapp">
                            <span class="rating-card__icon">
                                <img src="img/GPlay.svg" alt="icon">
                            </span>
						Google <br> Play
					</a>
				</li>
				<li class="rating-list__item rating-card">
                        <span class="rating-card__value">
                            <svg width="30" height="30">
                            	<use href="img/sprite/sprite.svg#star"></use>
                            </svg>
                            4.9
                        </span>
					<a href="#" class="rating-card__wrapp">
                            <span class="rating-card__icon">
                                <img src="img/busines.svg" alt="icon">
                            </span>
						Google <br> Business
					</a>
				</li>
			</ul>

			<div class="reviews-slider">
				<div class="reviews-slider__inner">
					<div class="swiper-container">
						<ul class="swiper-wrapper">
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            HD
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            HD
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            <img src="img/reviews_image.png" alt="image">
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            HD
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            HD
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            <img src="img/reviews_image.png" alt="image">
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            HD
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            HD
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            <img src="img/reviews_image.png" alt="image">
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            HD
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            HD
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            <img src="img/reviews_image.png" alt="image">
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            HD
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            HD
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="reviews-card">
									<div class="reviews-card__top">
                                        <span class="reviews-card__image">
                                            <img src="img/reviews_image.png" alt="image">
                                        </span>
										<div class="reviews-card__wrapp">
                                            <span class="reviews-card__name">
                                                Happy Dariya
                                            </span>
											<svg width="86" height="14">
												<use href="img/sprite/sprite.svg#stars"></use>
											</svg>
										</div>
										<time class="reviews-card__time" datetime="2023-10-25">
											25.10.2023
										</time>
									</div>
									<p>
										Помогли восстановить спарведливость и наказать обидчика, в рамках Закона
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<button class="arrow-button swiper-button-prev">
					<svg width="24" height="24">
						<use href="img/sprite/sprite.svg#arrow-l"></use>
					</svg>
				</button>
				<button class="arrow-button swiper-button-next">
					<svg width="24" height="24">
						<use href="img/sprite/sprite.svg#arrow-r"></use>
					</svg>
				</button>
			</div>

		</div>
	</div>
</section>