<section class="services-slider">
	<div class="services-slider__bg bg-image">
		<picture>
			<source type="image/webp" srcset="img/services_section_bg.webp">
			<img loading="lazy" width="1920" height="1080" src="img/services_section_bg.png" alt="image">
		</picture>
	</div>
	<div class="container">
		<div class="services-slider__inner">

			<div class="main-top bottom-line">
				<h2 class="main-top__title">
					Послуги
				</h2>

				<p class="main-top__subtitle">
					Кращих фахівців
				</p>
			</div>

			<div class="services-swiper">
				<div class="swiper-container">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">
							<div class="services-card">
								<div class="services-card__image">
									<picture>
										<source type="image/webp" srcset="img/services.webp">
										<img loading="lazy" width="338" height="668" src="img/services.png"
										     alt="image">
									</picture>
								</div>

								<div class="services-card__descr main-description">
									<h3 class="main-description__title">
										Юридичні послуги
									</h3>

									<p class="main-description__text">
										Замовляйте юридичні або фінансові послуги у будь-якій точці України у
										перевірених виконавців з гарантією результату 24/7
									</p>
								</div>

								<div class="services-card__inner">
									<div class="bg-image">
										<picture>
											<source type="image/webp" srcset="img/services_bg.webp">
											<img loading="lazy" width="886" height="350" src="img/services_bg.png"
											     alt="image">
										</picture>
									</div>

									<ul class="services-card__list">
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services.svg" alt="icon">
											</div>
											<span>Безпечна угода</span>
										</li>
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services2.svg" alt="icon">
											</div>
											<span>Прозора ціна</span>
										</li>
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services3.svg" alt="icon">
											</div>
											<span>Перевірені виконавці</span>
										</li>
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services4.svg" alt="icon">
											</div>
											<span>Контроль 24/7</span>
										</li>
									</ul>

                                    <div class="services-card__link video-box">
                                        <span class="arrow-button" data-src="https://youtu.be/lc1WWLlz10k?si=keLpsLC49yvZEChU">
                                            <svg width="36" height="36">
                                                <use href="img/sprite/sprite.svg#play"></use>
                                            </svg>
                                        </span>
                                    </div>

								</div>


							</div>
						</li>
						<li class="swiper-slide">
							<div class="services-card">
								<div class="services-card__image">
									<picture>
										<source type="image/webp" srcset="img/services2.webp">
										<img loading="lazy" width="338" height="668" src="img/services2.png"
										     alt="image">
									</picture>
								</div>

								<div class="services-card__descr main-description">
									<h3 class="main-description__title">
										Документи
									</h3>

									<p class="main-description__text">
										Завантажуйте будь-які юридичний або фінансовий документ, що відповідає усім
										стандартам та нормам з найбільшої актуальної бази документів України
									</p>
								</div>

								<div class="services-card__inner">
									<div class="bg-image">
										<picture>
											<source type="image/webp" srcset="img/services_bg2.webp">
											<img loading="lazy" width="886" height="350" src="img/services_bg2.png"
											     alt="image">
										</picture>
									</div>

									<ul class="services-card__list">
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services5.svg" alt="icon">
											</div>
											<span>Створені досвідченими юристами</span>
										</li>
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services2.svg" alt="icon">
											</div>
											<span>Доступна ціна</span>
										</li>
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services7.svg" alt="icon">
											</div>
											<span>100% відповідність законодавству</span>
										</li>
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services8.svg" alt="icon">
											</div>
											<span>Можливість замовити індивідуальний документ</span>
										</li>
									</ul>

<!--                                    <div class="services-card__link video-box">-->
<!--                                        <span class="arrow-button" data-src="https://youtu.be/lc1WWLlz10k?si=keLpsLC49yvZEChU">-->
<!--                                            <svg width="36" height="36">-->
<!--                                                <use href="img/sprite/sprite.svg#play"></use>-->
<!--                                            </svg>-->
<!--                                        </span>-->
<!--                                    </div>-->
								</div>


							</div>
						</li>
						<li class="swiper-slide">
							<div class="services-card">
								<div class="services-card__image">
									<picture>
										<source type="image/webp" srcset="img/services3.webp">
										<img loading="lazy" width="338" height="668" src="img/services3.png"
										     alt="image">
									</picture>
								</div>

								<div class="services-card__descr main-description">
									<h3 class="main-description__title">
										Консультації
									</h3>

									<p class="main-description__text">
										Замовляйте швидку консультацію фахівців або штучного інтелекту через
										мобільний застосунок та отримуйте відразу декілька експертних відповідей
									</p>
								</div>

								<div class="services-card__inner">
									<div class="bg-image">
										<picture>
											<source type="image/webp" srcset="img/services_bg3.webp">
											<img loading="lazy" width="886" height="350" src="img/services_bg3.png"
											     alt="image">
										</picture>
									</div>

									<ul class="services-card__list">
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services9.svg" alt="icon">
											</div>
											<span>В потрібний час</span>
										</li>
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services2.svg" alt="icon">
											</div>
											<span>За найкращою ціною</span>
										</li>
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services10.svg" alt="icon">
											</div>
											<span>У потрібному місці</span>
										</li>
										<li class="services-card__list-item">
											<div class="services-card__list-icon">
												<img src="img/sprite/services11.svg" alt="icon">
											</div>
											<span>Найкращого спеціаліста</span>
										</li>
									</ul>

<!--                                    <div class="services-card__link video-box">-->
<!--                                        <span class="arrow-button" data-src="https://youtu.be/lc1WWLlz10k?si=keLpsLC49yvZEChU">-->
<!--                                            <svg width="36" height="36">-->
<!--                                                <use href="img/sprite/sprite.svg#play"></use>-->
<!--                                            </svg>-->
<!--                                        </span>-->
<!--                                    </div>-->
								</div>


							</div>
						</li>
					</ul>
				</div>
				<button class="arrow-button swiper-button-prev">
					<svg width="24" height="24">
						<use href="img/sprite/sprite.svg#arrow-l"></use>
					</svg>
				</button>
				<button class="arrow-button swiper-button-next">
					<svg width="24" height="24">
						<use href="img/sprite/sprite.svg#arrow-r"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</section>