<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__inner">
                <div class="footer__coll footer__coll--left">
                    <a href="/" class="logo">
                        <img width="264" height="44" src="img/sprite/logo_white.svg" alt="logo">
                    </a>

                    <div class="footer__links">
                        <a href="#" class="footer__link">
                            Угода з користувачем
                        </a>
                        <a href="#" class="footer__link footer__link--mode">
                            Угода з консультантом
                        </a>
                    </div>

                    <div class="footer-social">
                        <span class="footer-social__description">
                            Підписникам у наших соціальних мережах сервіс оплачує 3 консультації в мобільному застосунку КОНСУЛЬТАНТ
                        </span>

                        <ul class="footer-social__list">
                            <li class="footer-social__item">
                                <a href="#" class="arrow-button">
                                    <svg width="20" height="20">
                                    	<use href="img/sprite/sprite.svg#social"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-social__item">
                                <a href="#" class="arrow-button">
                                    <svg width="20" height="20">
                                        <use href="img/sprite/sprite.svg#social2"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-social__item">
                                <a href="#" class="arrow-button">
                                    <svg width="12" height="23">
                                        <use href="img/sprite/sprite.svg#social3"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-social__item">
                                <a href="#" class="arrow-button">
                                    <svg width="22" height="15">
                                        <use href="img/sprite/sprite.svg#social4"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-social__item">
                                <a href="#" class="arrow-button">
                                    <svg width="19" height="20">
                                        <use href="img/sprite/sprite.svg#social5"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__coll footer__coll--right">
                    <div class="footer__map">
                        <img src="img/footer_map.png" alt="map">
                    </div>

                    <ul class="footer__nav" data-title="Офіси">
                        <li class="footer__nav-item">
                            <a href="#" class="footer__link">
                                Польща, Варшава
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__link">
                                Велика Британія, Лондон
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__link">
                                Україна, Київ
                            </a>
                        </li>
                    </ul>

                    <ul class="footer__nav">
                        <li class="footer__nav-item">
                            <a href="#" class="footer__link">
                                Консультанти
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__link">
                                Консультації
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__link">
                                Послуги
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__link">
                                Документи
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__link">
                                Вакансії
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__link">
                                Для бізнесу
                            </a>
                        </li>
                        <li class="footer__nav-item">
                            <a href="#" class="footer__link">
                                Про нас
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    <div class="category-tags" data-hidden>
        <div class="container">
            <ul class="category-tags__list" data-hidden-list>
                @include('../partials/components/tags-items.html')
                @include('../partials/components/tags-items.html')
                @include('../partials/components/tags-items.html')
                @include('../partials/components/tags-items.html')
                @include('../partials/components/tags-items.html')
                @include('../partials/components/tags-items.html')
                @include('../partials/components/tags-items.html')
                @include('../partials/components/tags-items.html')
            </ul>
            <button class="category-tags__btn main-more" data-hidden-btn="Сховати">
                <span>Детальніше</span>
            </button>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__inner">
                <span>
                    2018 - 2024 Всі права захищені
                </span>
                <div class="footer-bottom__partners">
                    <a href="#" class="footer-bottom__partners-link">
                        <img width="65" height="33" src="img/partners/icon.svg" alt="icon">
                    </a>
                    <a href="#" class="footer-bottom__partners-link">
                        <img width="190" height="26" src="img/partners/icon2.svg" alt="icon">
                    </a>
                    <a href="#" class="footer-bottom__partners-link">
                        <img width="68" height="22" src="img/partners/icon3.svg" alt="icon">
                    </a>
                    <a href="#" class="footer-bottom__partners-link">
                        <img width="42" height="33" src="img/partners/icon4.svg" alt="icon">
                    </a>
                    <a href="#" class="footer-bottom__partners-link">
                        <img width="114" height="33" src="img/partners/icon5.svg" alt="icon">
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>

