<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="Consultant markup dev">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consultant markup dev</title>

    <link rel="preload" href="fonts/AvenirNextCyr-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/AvenirNextCyr-Demi.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/AvenirNextCyr-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/AvenirNextCyr-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Bicubik.woff" as="font" crossorigin="anonymous">

    <link rel="preload" href="fonts/Roboto-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto-Bold.woff" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>
