.about-section {
	padding: clamp(35px, 7.258vw, 95rem) 0 clamp(35px, 8.065vw, 120rem);;
	position: relative;

	&--dark {
		.main-description {
			&__title,
			&__text {
				color: rgba(var(--cl-b),1.0) !important;
			}
		}
	}

	//&__bg {
	//	opacity: .5;
	//	filter: blur(10px);
	//}

	&__inner {
		display: flex;
		flex-direction: column;
		gap: clamp(20px, 4.032vw, 50rem);
	}

	.main-top {
		width: 100%;

		&__title {
			align-self: flex-end;
		}

		&__subtitle {
			align-self: flex-end;
			color: rgba(var(--cl-a),1.0);
			margin-right: clamp(50px, 10.484vw, 180rem);
		}
	}

	.main-description {
		align-self: center;


		&__title,
		&__text {
			color: rgba(var(--cl-a),1.0);
		}

		&__title {
			font-size: clamp(16px, 2.903vw, 34rem);
		}

	}
}

.grid-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Три колонки равной ширины */
	gap: clamp(15px, 2.419vw, 30rem);
	grid-auto-rows: -webkit-max-content;

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
	}

	@include mobile {
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	}

	&__item {
		overflow: hidden;
		display: flex;
		transition: all .4s;
		filter: drop-shadow(4px 4px 15px rgba(255, 255, 255, 0));
		will-change: opacity, width, filter, transform;

		&:hover {
			filter: drop-shadow(4px 4px 15px #1397D6);
		}

		@include tablet {
			&:first-child {
				grid-column: 1/-1;
			}
		}

		@include for-tablet {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				grid-row: span 1; /* Первые три карточки занимают одну строку */
			}

			&:nth-child(4),
			&:nth-child(5) {
				grid-row: span 1; /* Следующие две карточки также занимают одну строку */
			}

			&:nth-child(6) {
				grid-row: span 2;

				.about-card {
					display: flex;

					&__text {
						font-size: clamp(18px, 4.597vw, 57rem);
						font-weight: 750;
						max-width: 60%;
						transform: translateY(-45%);
					}
				}
			}

			&:nth-child(7),
			&:nth-child(8){
				grid-row: span 1;
			}

			&:nth-child(9) {
				grid-row: 4 / span 2;

				.about-card {
					display: flex;

					&__text {
						font-size: clamp(18px, 4.597vw, 57rem);
						font-weight: 750;
						max-width: 60%;
						transform: translateY(-45%);
					}
				}
			}

			&:nth-child(17) {
				grid-row: 6 / span 2;
				grid-column: 3;
			}
		}

	}
}








.about-card {
	position: relative;
	min-height: 178px;
	height: 100%;
	transition: all .4s;
	overflow: hidden;

	&:hover {
			-webkit-filter: drop-shadow(4px 4px 15px #1397D6);
			filter: drop-shadow(4px 4px 15px #1397D6);

		.about-card__image > * {
			transform: scale(1.2);
		}
	}

	&__text,
	&__link,
	&__top {
		position: absolute;
	}

	&__top {
		left: clamp(13px, 1.21vw, 15rem);
		right: clamp(13px, 1.21vw, 15rem);
		top: clamp(13px, 1.21vw, 15rem);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__type {
		color: rgba(255, 255, 255, 0.70);
		font-family: var(--font-family2);
		font-size: clamp(18px, 2.016vw, 25rem);
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
	}

	&__time {
		color: rgba(255, 255, 255, 0.60);
		font-family: var(--font-family);
		font-size: Max(14px, 14rem);
		font-style: normal;
		font-weight: 450;
		line-height: normal;
	}

	&__text {
		bottom: clamp(13px, 1.21vw, 15rem);
		left: clamp(13px, 1.21vw, 15rem);
		max-width: 55%;

		color:  rgba(var(--cl-a),1.0);
		font-family: var(--font-family);
		font-size: clamp(18px, 1.613vw, 20rem);
		font-style: normal;
		font-weight: 750;
		line-height: normal;

		@include tablet {
			max-width: 75%;
		}
	}

	&__link {
		bottom: 0;
		right: 0;
	}


	&__image {
		//position: absolute;
		width: 100%;
		position: relative;
		z-index: -1;
		inset: 0;
		min-height: 100%;
		overflow: hidden;


		& > * {
			transition: all .6s;
		}

		picture,img {
			display: flex;
			width: 100%;
			height: 100%;
		}

		&:before {
			background: linear-gradient(80deg, rgba(0, 0, 0, 0.63) 0.45%, rgba(0, 0, 0, 0.00) 84.17%), rgba(0, 0, 0, 0.74);
			top: 0;
			height: 100%;
			width: 100%;
			left: 0;
			position: absolute;
			content: '';
			display: flex;
			z-index: 2;
		}
	}
}