.info-card {
	background: rgba(var(--bg-a),1.0);
	box-shadow: 0px 2px 11px 0px rgba(6, 32, 44, 0.09);
	position: relative;
	//padding: 60px 0 30px;
	padding: 60px 0 0;

	&--bg {
		background: linear-gradient(0deg, rgba(19, 151, 214, 0.05) 0%, rgba(19, 151, 214, 0.05) 100%), #FFF;
	}

	@include mobile {
		//padding: 50px 0 20px;

		padding: 50px 0 0px;
	}

	&__label {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		gap: 10px;
		border-radius: 0  0 5px 0px;
		background: rgba(19, 151, 214, 0.10);

		padding: 5px 10px;

		color: var(--black, #000);
		font-family: var(--font-family);
		font-size: clamp(14px, 1.29vw, 16rem);
		font-style: normal;
		font-weight: 750;
		line-height: 100%;

		span {

			leading-trim: both;
			text-edge: cap;
			font-family: var(--font-family);
			font-size: 16px;
			font-style: normal;
			font-weight: 450;
			line-height: normal;

			padding: 0 10px;
			border-right: 1px solid rgba(19, 151, 214, 0.2);

			&.green {
				color: #32CD4B;
			}

			&.gold {
				color: #E7A017;
			}
		}
	}

	.arrow-button {
		//position: absolute;
		//right: 0;
		//bottom: 0;
		margin-left: auto;
		//margin-top: -25px;
	}

	&__info {
		padding: 0 20px;
		width: 100%;

		margin: 0 auto;
		align-items: center;
		gap: 10px 20px;
		display: flex;

		@include small-tablet {
			flex-wrap: wrap;
		}
	}

	&__descr {
		font-family: var(--font-family);
		font-style: normal;
		line-height: normal;
		display: flex;
		flex-direction: column;
		gap: 3px;

		@include small-tablet {
			display: contents;
		}
	}

	&__image {
		aspect-ratio: 1;
		max-width: clamp(80px, 8.306vw, 165rem);
		width: 100%;
		flex-shrink: 0;
		overflow: hidden;
		border-radius: 50%;
		display: flex;
		//border: 4px solid var(--br-c);

		picture,
		img {
			width: 100%;
		}
	}

	&__title {
		color:  rgba(var(--cl-b),1.0);
		font-size: Max(18px, 18rem);
		font-weight: 700;

		max-width: calc(100% - clamp(80px, 13.306vw, 165rem) - 20px);
	}

	&__type {
		color:  rgba(var(--cl-b),0.5);
		font-size: Max(14px, 14rem);
		font-weight: 400;
	}

	&__geo {
		display: flex;
		align-items: center;
		gap: 10px;
		color: rgba(var(--cl-b),1.0);
		font-size: Max(16px, 16rem);
		font-weight: 400;
		hyphens: auto;

		svg {
			flex-shrink: 0;
		}
	}
}

.text-card {
	display: flex;
	align-items: center;
	gap: clamp(18px, 6.452vw, 100rem);
	width: 100%;
	padding-top: clamp(20px, 4.839vw, 60rem);
	margin-top: clamp(20px, 4.839vw, 60rem);
	border-top: 1px solid rgba(19, 151, 214, 0.4);

	p {
		margin: 0 !important;
		width: fit-content !important;
	}

	&__card {
		flex-shrink: 0;



		@include for-small-tablet {
			min-width: 370px;
			width: 100%;
			max-width: clamp(270px, 33.871vw, 420rem);
		}

		@include small-tablet {
			width: 45%;
		}

		@include mobile {
			width: 100%;
			max-width: 414px;
		}
	}

	@include mobile {
		flex-direction: column-reverse;
	}

	@include for-mobile {
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 22px;
	}

	&__title {
		color: var(--font-family);
		font-family: var(--font-family);
		font-size: clamp(18px, 2.581vw, 32px);
		font-style: normal;
		font-weight: 750;
		line-height: 130%;
		letter-spacing: -0.2px;
		padding-left: 20px;
		border-left: 3px solid var(--br-c);
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:after {
			content: attr(data-value);

			color: rgba(var(--cl-b),1.0);
			font-family: var(--font-family);
			font-size: clamp(14px, 1.935vw, 24rem);
			font-style: normal;
			font-weight: 400;
			line-height: 130%; /* 31.2px */
			letter-spacing: -0.2px;
		}
	}



}

.search-list {

	.about-card__text {
		max-width: 75%;
	}

	.text-card {
		flex-direction: row;
		//flex-wrap: wrap;
		border: 0;
		padding: 0;

		@include mobile {
			flex-direction: column;


		}

		@include for-mobile {
			.info-card__title {
				max-width: 100%;
			}
		}

		& + & {
			margin-top: clamp(20px, 4.839vw, 62rem);
		}
	}


	&__more {
		margin: clamp(20px, 3.226vw, 40rem) auto 0;
		max-width: Max(226px, 226rem);
	}

	&__title {
		color: #000;
		font-family: var(--font-family);
		font-size: clamp(16px, 2.581vw, 32rem);
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 41.6px */
		letter-spacing: -0.2px;
	}

	.text-card__card {
		width: clamp(320px, 33.871vw, 420rem) !important;
		max-width: initial !important;
		align-self: flex-start;

		@include small-tablet {
			width: clamp(270px, 33.871vw, 420rem) !important;
		}

		@include mobile {
			width: 100% !important;
		}
	}
}



.text-card__card {

	&.categories-card  {

		position: relative;

		.categories-card__name {
			position: absolute;
			bottom: 20px;
			left: 20px;
			right: 20px;
			width: fit-content;
			z-index: 1;

			color: rgba(255, 255, 255, 0.85);
			font-style: normal;
			font-weight: 750;
			line-height: 130%; /* 23.4px */
			font-size: Max(18px, 18rem);
			//text-transform: lowercase !important;
			font-family: var(--font-family);

			&:before {
				max-width: 100%;
			}
		}

		.about-card__top {
			z-index: 3;
		}
	}

	&.consultant-card {
		.consultant-card__title {
			font-size: Max(26px, 26rem);
			span {
				line-height: 90%;
			}
		}
	}
}