.services-swiper {
	position: relative;

	@include mobile {
		max-width: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px clamp(10px, 2.419vw, 30rem);
	}

	.swiper {

		&-button {

			&-next {
				@include for-mobile {
					position: absolute;
					z-index: 2;
					top: 50%;
					transform: translateY(-100%);
					right: 0;
				}
			}

			&-prev {
				@include for-mobile {
					position: absolute;
					z-index: 2;
					top: 50%;
					transform: translateY(-100%);
					left: 0;
				}

				@include mobile {
					margin-left: auto;
				}
			}
		}

		&-container {
			overflow: initial;
			max-width: 100%;
			width: 100%;
			padding-top: clamp(0px, 8.065vw, 150px);

			@include mobile {
				grid-column: 1/-1;
				padding-top: 32px;
			}
		}

		&-slide {
			max-width: clamp(650px , 70.968vw, 880rem);
			width: 80vw;
			height: initial;

			@include mobile {
				width: 90vw;
			}

			&-duplicate-next,
			&-next {
				.services-card{
					grid-template-columns: clamp(400px, 35.484vw, 440rem) 1fr;

					@include small-tablet {
						grid-template-columns: 1fr minmax(174px, 45%);
					}

					&__list {
						padding-left: clamp(20px, 3.226vw, 40rem);
						margin-right: calc(clamp(20px, 3.226vw, 40rem) * -1);
					}

					&__list,
					&__descr {
						@include for-mobile {
							grid-column: 1;
						}
					}

					&__image {
						grid-column: 2;
						grid-row: 1/-1;

						@include mobile {
							grid-row: 2;
							grid-column: 2;
						}
					}

					&__inner {
						@include small-tablet {
							grid-template-columns: 1fr minmax(174px, 45%);
						}
					}

					&__list {
						@include mobile {
							grid-column: 1;
						}
					}

				}
			}

			&-duplicate-active,
			&-active {
				filter: grayscale(0%);
				opacity: 1;

				& > * {
					transform: translateY(calc(clamp(10px,  8.065vw, 150px) * -1));

					@include mobile {
						transform: translateY(-32px);
					}
				}

				.services-card {
					filter: grayscale(0%);
					opacity: 1;
				}
			}
		}
	}
}